@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.items {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.hero {
    background-image: url('https://res.cloudinary.com/dgj39147s/image/upload/v1721887890/img1_i2isfr.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero .overlay {
    background-color: rgb(245 93 93);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    letter-spacing: 1px;
    line-height: 1.6;
    opacity: 0.6;
    overflow-y: hidden;
}

.hero h1 {
    margin-bottom: 1rem;
    color: white;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: bold;
}

.hero p {
    font-size: 1rem;
    color: white;
}


.order-now {
    text-align: center;
    padding: 50px 20px;
    background-image: linear-gradient(to right, #ff78b4, #ffd85f);
}

.order-name {
    text-align: center;
    font-size: 27px;
    color: #f8f8f8;
}

.order-now h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.menu-item {
    background: white;
    padding: 25px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 18%;
    border-bottom-left-radius: 18%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    border-top-right-radius: 50px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
}

@media (min-width: 601px) and (max-width: 998px) {
    .menu-item img {
        border-top-right-radius: 50px;
        width: 100%;
        height: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }
}



.menu-item h3 {
    margin: 10px 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-item p {
    color: #666;
    margin: 0 0 10px;
    padding: 0 10px;
    font-size: 1rem;
}

button {
    border-radius: 24px;
    text-align: center;
    padding: 20px;
    width: 200px;
    border: none;
    background-color: pink;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .order-now h2 {
        font-size: 1.8em;
    }

    .menu-items {
        gap: 10px;
    }
    .menu-item {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 5px 0;
    }
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.8em;
    }

    .order-now h2 {
        font-size: 1.5em;
    }

    .menu-item {
        width: 30%;
        max-height: 250px;
    }
    nav .icons {
        flex-direction: row;
        margin-top: 10px;
    }
    nav .icons .icon {
        margin: 0 5px;
    }
}